@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	box-sizing: border-box;
	text-decoration: none;
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter', sans-serif;
	background-color: #121212;
	color: #F7FAFC;
	::selection {
		@apply bg-white/40
	}
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
